/*Estilos Generales*/
body{
    /*Establecer la fuente del texto*/    
    font-family: arial,sans-serif;
    margin: 0%;
    padding: 0%;  
    /*Fondo gris claro para el cuerpo*/  
    background-color: #f0f0f0;
}
header{
    /*vamos a insertar un fondo verde para la cabecera*/
    background-color: #4caf50;
    padding: 15px;
    color: white;
    /*Usamos flexbox para organizar los elementos*/
    display: flex;
    /*Espacio entre el logo y la navegacion (nav)*/
    justify-content: space-between;
    /*Alinea el logo y los enlaces verticalmente*/
    align-items: center;
}
header .logo .img{
    width: 50%; /*Tamaño del logo*/
    height: auto;
}

nav ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    /*Muestra los elementos de la lista en fila*/
    display: flex;
}
nav ul li{
    /*Escpaciado entre los elementos de la lista*/
    margin-left: 20px;
}
nav ul li a{
    /*Elimina el subrayado*/
    text-decoration: none;
    /*Color de los enlaces*/
    color: white;
    /*Hce los enlaces en negrita*/
    font-weight: bold;
}
content{
    padding: 20px;
}
.post{
    /*Vamos agregar un fondo blanco para las publicaciones*/
    background-color: white;
    /*Vamos agregar bordes redondeados*/
    border-radius: 10px;
    /*Vamos agregar una sombra suave*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

button{
    /*fondo violeta para el boton*/

    background-color: violet;
     /*texto blanco*/
     background-color: white;
     border: none;
      /*espacio interno del boton*/
     padding: 10px 20px;
       /*agregamos bordes redondeados*/
     border-radius: 5;
      /*cambia el cursos al pasar sobre el boton*/
     cursor: pointer;
}
button:hover{
     /*color mas oscuro al pasar el mouse sobre el rectangulo*/
     background-color: #45a049;
}
footer{
    /*Fondo oscuro para el pie de pagina*/
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    
}